@model List<WebBanHang.Areas.Customer.Models.CategoryWithCountVM>

<ul class="list-group">
    @foreach (var c in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="#" class="text-decoration-none text-dark category-link" data-id="@c.Id">
                @c.Name
            </a>
            <span class="badge bg-secondary rounded-pill">@c.ProductCount</span>
        </li>
    }
</ul>

<!-- Gắn sự kiện click khi danh sách được nạp bằng Ajax -->
<script>
    $(document).ready(function () {
        $('.category-link').click(function (e) {
            e.preventDefault();
            var catId = $(this).data('id');
            $.get('/Customer/Product/GetProductsByCategory?catid=' + catId, function (data) {
                $('#Product-List').html(data);
            });
        });
    });
</script>
